$breakpoints: (
        small: 767px,
        medium: 992px,
        large: 1200px,
        huge: 1400px
);

$container: 1420px;

$primary-color: #007BC4;
$light-blue: #D4EDFD;

$orange: #FFA724;
$green: #2CCF94;
$red: #FF496B;
$blue: #01C6E1;
$purple: #B37FF5;



