@import "libs/slick";
@import "libs/select2";

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/reset";
@import "base/typography";
@import "base/base";

@import "includes/header";
@import "includes/footer";

@import "components/loader";
@import "components/menu";

body,
html {
  position: relative;
  font-family: 'Comic', sans-serif;
  scroll-behavior: smooth;
}

.main,
.footer {
  position: relative;
  overflow-x: hidden;
}

.main {

  @include response-to(small) {
    margin-bottom: -10px;
  }
}

figure img {
  display: block;
  margin: 0 auto;
}

.first-section {
  position: relative;
  width: 100%;
  height: 766px;
  background-image: url('../img/main-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
  background-color: $light-blue;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
  flex-direction: column;
  z-index: 1;

  @media(min-width: 1472px) {
    height: 52vw;
  }

  @include response-to(huge) {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: unset;
  }

  @include response-to(medium) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 0;
  }

  @include response-to(small) {
    background-image: url('../img/first-section-mob-bg.svg');
    background-size: contain;
    background-position: center 62px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__children {
    position: absolute;
    left: -6px;
    bottom: -70px;
    z-index: 4;

    @media(max-width: 1366px) {

      img {
        width: 350px;
        height: auto;
      }
    }

    @include response-to(medium) {
      position: relative;
      left: unset;
      bottom: unset;
      order: 3;
      width: 100%;

      img {
        margin-left: 0;
      }
    }

    @include response-to(small) {
      display: none;
    }

    &-mob {
      display: none;

      @include response-to(small) {
        display: block;
        position: relative;
        order: 3;
        margin-top: -12px;
        z-index: 1;
        margin-bottom: 8px;
      }
    }
  }

  &__right-bottom-mob-2 {
    position: absolute;
    display: none;
    z-index: 0;
    right: -4px;
    bottom: 0;

    @include response-to(small) {
      display: block;
    }
  }

  &__presents {
    position: absolute;
    right: 0;
    bottom: 11px;
    z-index: 2;

    @include response-to(large) {

      img {
        width: 350px;
        height: auto;
      }
    }

    @include response-to(small) {
      display: none;
    }
  }

  &__right-text {
    position: absolute;
    color: #fff;
    z-index: 5;
    bottom: 20px;
    right: 28px;
    text-align: right;
    font-size: 14px;
    line-height: 120%;
    font-family: 'ProximaNovaSemibold', sans-serif;

    @include response-to(small) {
      bottom: 11px;
      right: 11px;
      font-size: 11px;
    }
  }

  &__left-bot-mob,
  &__right-bot-mob {
    position: absolute;
    bottom: 0;
  }

  &__left-bot-mob {
    display: none;
    left: 0;
    z-index: 2;

    @include response-to(small) {
      display: block;
    }
  }

  &__right-bot-mob {
    right: 0;
    z-index: 2;

    @include response-to(small) {

      img {
        height: auto;
        width: 252px;
      }
    }
  }

  &__garland {
    position: absolute;
    top: -124px;

    @include response-to(small) {
      top: -41px;

      img {
        width: 208px;
        height: auto;
      }
    }

    &.rt {
      right: -58px;

      @include response-to(small) {
        right: -60px;
      }
    }

    &.lt {
      left: -58px;
      transform: scale(-1, 1);

      @include response-to(small) {
        left: -60px;
      }
    }
  }

  &__rt-bottom {
    position: absolute;
    bottom: 0;
    z-index: 1;
    right: 0;

    @include response-to(small) {
      display: none;
    }
  }

  &__one-tree {
    position: absolute;
    z-index: 0;
    right: 231px;
    bottom: 110px;

    @include response-to(small) {
      display: none;
    }
  }

  &__two-trees {
    position: absolute;
    z-index: 0;
    right: -17px;
    bottom: 84px;

    @include response-to(small) {
      transform: scale(-1, 1);
      right: unset;
      left: 6px;
      bottom: 0;

      img {
        width: 90px;
        height: 191px;
      }
    }
  }

  &__left-bottom {
    left: 109px;
    position: absolute;
    bottom: -3px;

    @include response-to(small) {
      display: none;
    }
  }

  &__christmas-tree {
    position: absolute;
    bottom: 0;
    z-index: 0;
    left: -156px;

    @include response-to(small) {
      right: 0;
      bottom: 16px;
      left: unset;

      img {
        width: 134px;
        height: 206px;
      }
    }
  }

  .snow-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    width: 1000px;
    z-index: 3;

    @include response-to(small) {
      transform: unset;
      left: 0;
      width: 100%;
    }

    .snow {
      position: absolute;

      &.snow-1 {
        left: 105px;
        top: 50%;
        transform: translateY(-50%);

        @include response-to(small) {
          top: 49px;
          left: 81px;
          transform: unset;

          img {
            width: 26px;
            height: 26px;
          }
        }
      }

      &.snow-2 {
        top: 100px;
        right: 250px;

        @include response-to(small) {
          top: 13px;
          right: 18px;

          img {
            width: 17px;
            height: 17px;
          }
        }
      }

      &.snow-3 {
        top: 110px;
        right: 70px;

        @include response-to(small) {
          top: 180px;
          left: -10px;
          right: unset;

          img {
            width: 44px;
            height: 44px;
          }
        }
      }

      &.snow-4 {
        right: 173px;
        top: 280px;

        @include response-to(small) {
          top: 167px;
          right: 28px;

          img {
            width: 26px;
            height: 26px;
          }
        }
      }

      &.snow-5 {
        bottom: 168px;
        right: 203px;

        @include response-to(small) {
          bottom: unset;
          top: 245px;
          right: 11px;

          img {
            width: 17px;
            height: 17px;
          }
        }
      }
    }
  }

  &__content {
    position: relative;
    z-index: 5;

    @include response-to(medium) {
      width: 100%;
    }
  }

  &__logo {
    margin-bottom: 12px;

    @include response-to(medium) {
      margin-bottom: 10px;
    }

    img {

      @include response-to(medium) {
        width: 55px;
        height: 60px;
      }
    }
  }

  &__advisor {

    @include response-to(medium) {
      margin-bottom: 7px;

      img {
        width: 140px;
        height: auto;
      }
    }
  }

  &__caption {
    color: #CF2C4A;
    font-size: 80px;
    line-height: 92px;

    margin-bottom: 30px;

    @include response-to(huge) {
      font-size: 60px;
      line-height: 120%;
    }

    @include response-to(small) {
      font-size: 36px;
      line-height: 41px;
      font-style: normal;
      margin-bottom: 7px;
    }
  }

  &__subcaption {
    margin-bottom: 34px;
    color: #CF2C4A;
    font-size: 26px;
    line-height: 120%;


    br {
      display: none;

      @include response-to(small) {
        display: block;
      }
    }


    @include response-to(small) {
      font-size: 20px;
      margin-bottom: 12px;
      font-style: normal;
    }
  }

  &__block {
    position: relative;
    max-width: 500px;
    border-radius: 30px;
    background-color: rgba(#fff, .8);
    padding: 20px 56px 30px;
    margin-left: auto;
    margin-right: auto;

    @include response-to(large) {
      //max-width: 410px;
    }

    @include response-to(small) {
      padding: 15px 10px 20px;
      max-width: 300px;
    }

    &_heart {
      position: absolute;
      left: 23px;
      top: -14px;

      @include response-to(large) {
        left: 5px;
        top: -14px;

        img {
          width: 45px;
          height: auto;
        }
      }
    }

    &_text {
      margin-bottom: 20px;
      font-size: 21px;
      line-height: 120%;

      color: $primary-color;

      @include response-to(small) {
        font-size: 16px;
        font-style: normal;
        margin-bottom: 10px;
      }
    }

    &_btn {
      width: 310px;
      text-align: center;
      color: #fff;
      cursor: pointer;
      padding: 18px 0;
      border-radius: 40px;
      background-color: #CF2C4A;
      @include transition-ease;
      font-size: 24px;
      line-height: 120%;

      text-transform: uppercase;
      display: block;
      margin: 0 auto;
      box-shadow: 0 0 0 0 rgba(0,0,0,.1);

      &:hover {
        box-shadow: 0 5px 5px 1px rgba(#CF2C4A, .35);
      }

      @include response-to(small) {
        width: 220px;
        font-size: 18px;
        padding: 14px 0;
        font-style: normal;
      }
    }
  }
}

.second-section {
  position: relative;
  background-color: #CF2C4A;
  padding: 50px 0;
  background-image: url('../img/sec-sec-bg.png');
  background-position: center 20px;
  background-repeat: no-repeat;
  background-size: 1325px;
  z-index: 2;

  @include response-to(small) {
    padding: 40px 0 70px;
    background-image: url('../img/sec-sec-mob-bg.png');
    background-position: center;
    background-size: 313px;
  }

  &__caption {
    color: #fff;
    text-align: center;
    font-size: 28px;
    line-height: 120%;
    margin-bottom: 20px;

    @include response-to(small) {
      padding-left: 10px;
      padding-right: 10px;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__text {
    font-family: 'ProximaNovaSemibold', sans-serif;
    color: #fff;
    text-align: center;
    max-width: 692px;
    margin: 0 auto 40px;
    font-size: 21px;
    line-height: 120%;

    @include response-to(small) {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 16px;
      margin-bottom: 30px;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;

      br {
        display: none;
      }
    }
  }

  &__slider {

    .slider-arrow {
      position: absolute;
      border-radius: 50%;
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: initial;
      background-position: center;
      background-color: $primary-color;
      z-index: 10;
      display: block;
      width: 60px;
      height: 60px;
      @include transition-ease;

      @include response-to(small) {
        opacity: 0;
        width: 1px;
        height: 1px;
        z-index: -1;
      }

      &:hover {
        background-color: lighten($primary-color, 7%);
      }

      &.next {
        right: 10px;
        background-image: url('../img/slider-right-arr.svg');
      }
      
      &.prev {
        left: 10px;
        background-image: url('../img/slider-left-arr.svg');
      }
    }

    &_item {
      position: relative;
      background-color: #fff;
      padding: 18px 20px;
      border-radius: 30px;
      margin-bottom: 10px;
      width: 100%;
      height: 150px;

      &-wrap {
        position: relative;
        width: 300px;
        margin-left: 24px;
        margin-bottom: 2px;
        transform: translateX(-60px);

        @include response-to(medium) {
          width: 276px;
          margin-left: 5px;
        }

        @include response-to(small) {
          transform: translateX(calc((100vw - 290px) / 2));
        }

        &:before {
          position: absolute;
          z-index: 0;
          height: 140px;
          width: 260px;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
          border-radius: 30px;
          content: '';

          @include response-to(medium) {
            width: 236px;
          }
        }

        &.orange {
          color: $orange;

          &:before {
            background-color: $orange;
          }
        }

        &.green {
          color: $green;

          &:before {
            background-color: $green;
          }
        }

        &.red {
          color: $red;

          &:before {
            background-color: $red;
          }
        }

        &.blue {
          color: $blue;

          &:before {
            background-color: $blue;
          }
        }

        &.purple {
          color: $purple;

          &:before {
            background-color: $purple;
          }
        }
      }
    }

    &_caption {
      font-size: 28px;
      line-height: 120%;

      margin-bottom: 10px;
      color: inherit;

      @include response-to(medium) {
        font-size: 24px;
        font-style: normal;
      }
    }

    &_text {
      font-family: 'ProximaNovaSemibold', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      color: inherit;
    }
  }
}

.third-section {
  padding-top: 55px;
  position: relative;
  margin-bottom: -40px;
  z-index: 3;

  @include response-to(medium) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include response-to(small) {
    padding-top: 46px;
    margin-bottom: 0;
  }

  &__caption {
    color: $primary-color;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    line-height: 120%;


    @include response-to(medium) {
      margin-bottom: 25px;
    }

    @include response-to(small) {
      font-size: 24px;
      font-style: normal;
    }
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @include transition-ease;

    &.pb-80 {
      padding-bottom: 80px;

      @include response-to(small) {
        padding-bottom: 0;
      }
    }

    &__field {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 1060px;
      margin-left: auto;
      margin-right: auto;

      &.hide {
        display: none;
      }

      &:first-of-type {
        justify-content: flex-end;

        @include response-to(medium) {
          margin-bottom: 15px;
        }
      }

      &:nth-of-type(2) {
        justify-content: flex-start;
      }

      &:first-of-type,
      &:nth-of-type(2) {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        max-width: 420px;
        flex-wrap: nowrap;

        @include response-to(medium) {
          flex-wrap: wrap;
          justify-content: center;
        }

        .form__field_text {
          text-align: right;
          margin-right: 20px;
          margin-bottom: 0;
          margin-top: 0;
          width: 175px;

          @include response-to(medium) {
            width: 100%;
            text-align: center;
            margin-right: 0;
            margin-bottom: 5px;

            br {
              display: none;
            }
          }
        }
      }

      &_text {
        color: $primary-color;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 40px;
        font-family: 'ProximaNovaSemibold', sans-serif;

        @include response-to(small) {
          margin-bottom: 15px;
          max-width: 280px;

          br {
            display: none;
          }
        }

        &.hide {
          display: none;
        }
      }

      .gender {
        cursor: pointer;
        display: block;
        width: 105px;
        height: 50px;
        @include flex-center();
        background-color: $light-blue;
        margin-right: 10px;
        border-radius: 30px;

        svg path {
          fill: #AFDBF5;
          @include transition-ease;
        }

        &.active,
        &:hover {

          svg path {
            fill: $primary-color;
          }
        }
      }

      .value {
        width: fit-content;
        padding: 12px 30px 13px;
        background-color: #fff;
        margin: 0 5px 10px;
        border-radius: 30px;
        border: 1px solid;
        font-size: 21px;
        line-height: 120%;

        cursor: pointer;

        @include response-to(small) {
          font-size: 14px;
          padding: 10px 18px;
          margin: 0 2.5px 10px;
          font-style: normal;
        }
        
        &.red {
          color: $red;
          border-color: $red;

          &.active {
            background-color: $red;
          }
        }

        &.green {
          color: $green;
          border-color: $green;

          &.active {
            background-color: $green;
          }
        }

        &.blue {
          color: $blue;
          border-color: $blue;

          &.active {
            background-color: $blue;
          }
        }

        &.orange {
          color: $orange;
          border-color: $orange;

          &.active {
            background-color: $orange;
          }
        }

        &.purple {
          color: $purple;
          border-color: $purple;

          &.active {
            background-color: $purple;
          }
        }

        &.active {
          color: #fff;
        }
      }

      &_value {

        @include response-to(small) {
          justify-content: flex-start;
        }
      }
    }
  }

  .clouds-container {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    max-width: 1472px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);

    .cloud {
      position: absolute;

      &.left-top {
        top: -34px;
        left: -78px;

        @include response-to(small) {
          left: -64px;
          top: -15px;

          img {
            width: 170px;
            height: auto;
          }
        }
      }

      &.left-bottom {
        top: 21px;
        left: 121px;

        @include response-to(small) {
          top: -28px;
          left: 78px;

          img {
            width: 99px;
            height: auto;
          }
        }
      }

      &.right-top {
        top: -27px;
        right: 165px;

        @include response-to(small) {
          display: none;
        }
      }

      &.right-bottom {
        top: -36px;
        right: -178px;

        @include response-to(small) {
          display: none;
        }
      }
    }

    .triangle {
      position: absolute;
      top: -1px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__wrap {
    position: relative;
    z-index: 2;
  }

  .cloud-bottom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% - 40px);
    width: 100%;
    min-width: 736px;

    @include response-to(small) {
      top: 99%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.fourth-section {
  padding-top: 150px;
  background-color: $light-blue;
  min-height: 500px;

  @include response-to(medium) {
    padding-top: 100px;
  }

  @include response-to(small) {
    padding-top: 80px;
  }

  &__empty {
    display: block;
    text-align: center;
    color: #90CDF1;
    font-family: 'ProximaNovaSemibold', sans-serif;

    &.hide {
      display: none;
    }

    &_img {
      margin-bottom: 21px;

      @include response-to(small) {

        img {
          width: 50px;
          height: auto;
        }
      }
    }

    &_text {
      font-size: 20px;
      line-height: 120%;

      @include response-to(small) {
        font-size: 16px;
      }
    }
  }
}

.five-section {
  background-color: $primary-color;
  position: relative;
  padding: 50px 0 55px;

  &__snows {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 58px;

    @include response-to(medium) {
      display: none;
    }
  }

  &__garland-wrap {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 0;
    overflow: hidden;
  }

  &__wrap {
    position: relative;
    z-index: 1;
  }

  &__garland {
    position: absolute;
    top: -124px;

    @include response-to(small) {
      display: none;
    }

    &.rt {
      right: -58px;
    }

    &.lt {
      left: -58px;
      transform: scale(-1, 1);
    }
  }
}

.articles {
  @include flex-center();

  @include response-to(small) {
    padding-left: 20px;
  }

  .slick-track {
    display: flex;
    align-items: stretch;
  }

  .slick-dots {
    bottom: -40px;
    margin-left: -20px;

    li {
      width: 10px;
      height: 10px;
      background-color: #61B0E9;
      border-radius: 50%;

      &.slick-active {
        background-color: #fff;
      }

      button {
        display: none;
      }
    }
  }

  .article {
    max-width: 580px;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: stretch;
    background: #FFFFFF;
    border-radius: 30px;

    @include response-to(small) {
      flex-direction: column;
      width: 223px;
      background-color: transparent;
      align-items: center;
      margin-left: 10px;
      margin-right: 10px;
      height: auto;
    }

    &:not(:last-of-type) {
      margin-right: 24px;

      @include response-to(large) {
        margin-right: 0;
        margin-bottom: 10px;
      }

      @include response-to(small) {
        margin-bottom: 0;
        margin-right: 20px;
      }
    }

    &__img {
      flex: 0 0 264px;
      @include flex-center();
      margin-right: 20px;
      border-radius: 20px;
      overflow: hidden;

      @include response-to(small) {
        width: 180px;
        height: 180px;
        flex: unset;
        position: relative;
        z-index: 2;
        margin-right: 0;

        img {
          max-width: 100%;
          display: block;
          height: auto;
        }
      }
    }

    &__content {
      padding: 20px 15px 20px 0;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      
      @include response-to(small) {
        background-color: #fff;
        padding-top: 92px;
        margin-top: -70px;
        padding-right: 0;
        position: relative;
        border-radius: 30px;
        width: 100%;
        text-align: center;
        z-index: 1;
        flex-grow: 1;
      }
    }

    &__text {
      color: $primary-color;
      font-size: 21px;
      line-height: 120%;

      br {

        &.pc {

          @include response-to(small) {
            display: none;
          }
        }

        &.mob {
          display: none;

          @include response-to(small) {
            display: block;
          }
        }
      }

      @include response-to(small) {
        font-size: 16px;
        line-height: 120%;
      }
    }

    &__btn {
      width: 182px;
      text-align: center;
      color: #fff;
      background: #CF2C4A;
      border-radius: 40px;
      padding: 12px 0 13px;
      cursor: pointer;

      @include response-to(small) {
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.list {
  max-width: 1417px;
  margin: 0 auto;
  width: 100%;
  
  @media (max-width: 1425px) {
    padding-left: 5px;
    padding-right: 5px;
  }

  &.hide {
    display: none;
  }

  &__title {
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    color: $primary-color;

    margin-bottom: 42px;

    @include response-to(small) {
      font-size: 21px;
      margin-bottom: 20px;
      font-style: normal;
    }
  }

  &__wrap {
    margin-left: calc((100% - 336px * 4) / -8);
    margin-right: calc((100% - 336px * 4) / -8);

    @media(max-width: 1375px) {
      margin-left: calc((100% - 336px * 3) / -6);
      margin-right: calc((100% - 336px * 3) / -6);
    }

    @media(max-width: 1050px) {
      margin-left: calc((100% - 336px * 2) / -4);
      margin-right: calc((100% - 336px * 2) / -4);
    }

    @include response-to(small) {
      margin-left: auto;
      margin-right: auto;
    }

    &_container {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: flex-start;

      @include response-to(small) {
        display: block;
      }
    }
  }

  &__item {
    background-color: #fff;
    margin-left: calc((100% - 336px * 4) / 8);
    margin-right: calc((100% - 336px * 4) / 8);
    min-width: 336px;
    width: 336px;
    border-radius: 30px;
    padding: 12px 20px 13px;
    margin-bottom: 30px;

    @media(max-width: 1375px) {
      margin-left: calc((100% - 336px * 3) / 6);
      margin-right: calc((100% - 336px * 3) / 6);
    }

    @media(max-width: 1050px) {
      margin-left: calc((100% - 336px * 2) / 4);
      margin-right: calc((100% - 336px * 2) / 4);
    }

    @include response-to(small) {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      min-width: unset;
      max-width: 310px;
      padding: 10px 7px 22px;
      margin-bottom: 10px;
    }

    &_img {
      width: 180px;
      height: 180px;
      @include flex-center();
      margin: 0 auto 9px;

      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }

      @include response-to(small) {
        width: 140px;
        height: 140px;
      }
    }

    &_logo {
      height: 50px;
      width: 135px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 7px;
      @include flex-center();

      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }

      @include response-to(small) {
        height: 40px;
        width: 116px;
      }
    }

    &_title {
      text-align: center;
      color: $primary-color;
      margin-bottom: 7px;
      font-size: 16px;
      line-height: 120%;
      height: 80px;
    }

    &_btn {
      width: 240px;
      text-align: center;
      color: #fff;
      cursor: pointer;
      padding: 18px 0;
      border-radius: 40px;
      background-color: #CF2C4A;
      @include transition-ease;
      font-size: 21px;
      line-height: 120%;

      text-transform: uppercase;
      display: block;
      margin: 0 auto;
      box-shadow: 0 0 0 0 rgba(0,0,0,.1);

      &:hover {
        box-shadow: 0 5px 5px 1px rgba(#CF2C4A, .35);
      }

      @include response-to(small) {
        padding: 12px 0 13px;
        font-style: normal;
      }
    }

    &_note {
      text-align: center;
      color: $primary-color;
      margin-top: 10px;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      font-family: 'ProximaNovaSemibold', sans-serif;
    }
  }
}

.rating {
  width: 216px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  font-family: 'ProximaNovaSemibold', sans-serif;

  &__row {
    display: flex;
    margin-bottom: 9px;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &.green {
      color: $green;
    }

    &.red {
      color: $red;
    }

    &.orange {
      color: $orange;
    }

    &.blue {
      color: $blue;
    }

    &.purple {
      color: $purple;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: inherit;
  }

  &__score {
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: $primary-color;
    position: relative;
    padding-right: 20px;

    &:before {
      position: absolute;
      content: '';
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 14px;
      background-image: url('../img/star.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.modal {
  position: fixed;
  @include transition-ease;
  background-color: rgba($primary-color, .7);
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
  min-height: 100vh;
  overflow-y: scroll;
  height: 100vh;

  &.active {
    opacity: 1;
    z-index: 100;

    .modal__wrap {
      transform: translateY(0);
    }
  }

  &__wrap {
    transform: translateY(-150vh);
    @include transition-ease;
    position: relative;
    max-width: 650px;
    width: 100%;
    background-color: #fff;
    border-radius: 30px;
    padding-top: 30px;
    margin: 50px auto;
    overflow: hidden;

    @include response-to(small) {
      max-width: 95%;
      overflow: hidden;
    }
  }

  &__body {
    position: relative;
    overflow: hidden;
  }

  .close {
    position: absolute;
    width: 22px;
    height: 22px;
    z-index: 10;
    cursor: pointer;
    top: 20px;
    right: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/Close.svg');
  }

  &__header {
    padding: 0 40px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    margin-bottom: 20px;

    @include response-to(small) {
      display: block;
      padding: 0 15px;
    }

    &_img {
      min-width: 180px;
      max-width: 180px;
      height: 180px;
      @include flex-center();
      margin-right: 20px;
      overflow: hidden;

      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }

      @include response-to(small) {
        margin-bottom: 10px;
        min-width: 140px;
        max-width: 180px;
        height: 140px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &_title {
      margin-bottom: 10px;
      font-size: 21px;
      line-height: 120%;
      color: $primary-color;
      padding-right: 7px;


      @include response-to(small) {
        text-align: center;
        font-size: 16px;
        font-style: normal;

        br {
          display: none;
        }
      }
    }

    .rating {
      margin-left: 0;

      @include response-to(small) {
        margin-left: auto;
        margin-bottom: 17px;
      }
    }
  }

  &__text {
    padding: 0 40px;
    position: relative;
    margin-bottom: 68px;

    @include response-to(small) {
      padding: 0 15px;
    }

    &.active {

      .modal__text_t {
        max-height: 1500px;
      }

      .modal__text_hide {
        opacity: 0;
      }
    }

    &_t {
      overflow: hidden;
      max-height: 78px;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      color: $primary-color;
      @include transition-ease;
      font-family: 'ProximaNovaSemibold', sans-serif;
    }

    &_hide {
      position: absolute;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
      width: 100%;
      left: 0;
      bottom: 17px;
      height: 50px;
      @include transition-ease;
    }

    &_more {
      border-bottom: 1px dashed #CF2C4A;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      color: #CF2C4A;
      cursor: pointer;
      font-family: 'ProximaNovaSemibold', sans-serif;
    }
  }

  &__buy-online {
    background-color: $light-blue;
    position: relative;
    padding: 0 40px 30px;

    @include response-to(small) {
      padding: 0 5px 30px;
    }

    .modal-cloud {
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 100%;

      @include response-to(small) {
        width: 650px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &_title {
      text-align: center;
      color: $primary-color;
      font-size: 18px;
      line-height: 120%;


      @include response-to(small) {
        font-style: normal;
      }
    }

    &_row {
      width: fit-content;
      display: flex;
      align-items: center;
      background-color: #fff;
      border-radius: 20px;
      padding: 5px 7px;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
    }

    &_img {
      margin-left: 16px;
      width: 80px;
      height: 30px;
      @include flex-center();
      overflow: hidden;
      margin-right: 25px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &_coast {
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      color: $primary-color;
      margin-right: 10px;
      font-family: 'ProximaNovaSemibold', sans-serif;
      padding-right: 15px;
      background-repeat: no-repeat;
      background-position: right 3px;
      background-size: initial;
      background-image: url('../img/rub.svg');
    }

    &_btn {
      display: block;
      cursor: pointer;
      background-color: $primary-color;
      color: #fff;
      text-align: center;
      width: 100px;
      padding: 5px 0 6px;
      border-radius: 15px;
      font-family: 'ProximaNovaSemibold', sans-serif;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__buy-shop {
    padding: 0 40px 30px;
    background-color: $light-blue;
    border-radius: 0 0 30px 30px;

    @include response-to(small) {
      padding: 0 10px 30px;
    }

    .shops {
      max-width: 510px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin: 10px auto 0;

      @include response-to(small) {
        justify-content: center;
      }

      &__item {
        width: 120px;
        padding: 4px 20px;
        background: #FFFFFF;
        border-radius: 20px;
        margin-bottom: 10px;

        @include response-to(small) {
          margin-left: 5px;
          margin-right: 5px;
        }

        img {
          max-width: 100%;
          width: 100%;
          height: auto;
        }
      }
    }
  }

  &__title {
    padding-left: 40px;
    color: #CF2C4A;
    font-size: 40px;
    line-height: 120%;

    @include response-to(small) {
      padding-left: 20px;
      font-size: 36px;
    }

    br {

      &.pc {

        @include response-to(small) {
          display: none;
        }
      }

      &.mob {
        display: none;

        @include response-to(small) {
          display: block;
        }
      }
    }
  }

  &__garland {
    position: absolute;
    transform: rotate(10.67deg);
    top: -71px;
    right: -135px;

    @include response-to(small) {
      display: none;
    }
  }

  &__head {
    background-color: $light-blue;
    position: relative;
    padding-bottom: 10px;
    padding-top: 7px;
    //
    margin-top: 120px;
    margin-bottom: 70px;

    @include response-to(small) {
      padding-left: 25px;
      padding-right: 25px;
      margin-top: 137px;
    }

    &:before,
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 44px;
      left: 50%;
      transform: translateX(-50%);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @include response-to(small) {
        height: 50px;
      }
    }

    &:before {
      bottom: 100%;
      background-image: url('../img/modal-head-top-cloud.svg');

      @include response-to(small) {
        background-image: url('../img/modal-head-top-cloud-mob.svg');
      }
    }

    &:after {
      top: 100%;
      background-image: url('../img/modal-head-bottom-cloud.svg');

      @include response-to(small) {
        background-image: url('../img/modal-head-bottom-cloud-mob.svg');
      }
    }

    &_text {
      position: relative;
      background: #FFFFFF;
      z-index: 2;
      border-radius: 30px;
      padding: 23px 26px 16px;
      max-width: 470px;
      width: 100%;
      margin: 0 auto;
      font-size: 14px;
      line-height: 120%;
      color: $primary-color;
      font-family: 'ProximaNovaSemibold', sans-serif;

      @include response-to(small) {
        padding: 23px 18px 28px;
      }

      br {

        &.mob {
          display: none;

          @include response-to(small) {
            display: block;
          }
        }
      }
    }

    &_trees {
      position: absolute;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);
      top: -106px;
    }

    &_child {
      position: absolute;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);
      top: -95px;
    }
  }

  &__content {
    padding: 0 40px;
    color: $primary-color;

    @include response-to(small) {
      padding: 0 20px;
    }

    &_title {
      font-size: 21px;
      line-height: 120%;
      margin-bottom: 50px;

      @include response-to(small) {
        margin-bottom: 16px;
      }
    }

    &_item {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 30px;

      @include response-to(small) {
        display: block;
        margin-bottom: 50px;
      }

      .modal__content_item-content {
        margin-right: 20px;

        @include response-to(small) {
          margin-right: 0;
          margin-bottom: 30px;
        }
      }

      &:first-of-type {
        //margin-top: 97px;
      }

      &:nth-of-type(even) {

        .modal__content_item-content {
          order: 2;
          margin-left: 20px;
          margin-right: 0;

          @include response-to(small) {
            margin-bottom: 30px;
            margin-left: 0;
          }
        }
      }

      &-title {
        font-size: 21px;
        line-height: 120%;
        margin-bottom: 14px;
        padding-left: 31px;
        position: relative;

        &:before {
          position: absolute;
          content: '';
          width: 27px;
          height: 27px;
          left: 0;
          top: 50%;
          transform: translateY(-50%) rotate(20.4deg);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url('../img/snow-gold.svg');
        }
      }

      &-text {
        font-size: 14px;
        line-height: 120%;
        font-family: 'ProximaNovaSemibold', sans-serif;
      }

      &-img {
        width: 250px;
        height: 250px;
        flex: 0 0 250px;
        @include flex-center();
        position: relative;

        @include response-to(small) {
          margin-left: auto;
          margin-right: auto;
        }

        &:before {
          position: absolute;
          content: '';
          z-index: 0;
          width: 100%;
          height: 275px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background-image: url('../img/modal__content_item-img-bg.svg');
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }

        &--content {
          position: relative;
          z-index: 1;
          border-radius: 20px;
          overflow: hidden;
        }
      }
    }
  }

  &__footer {
    margin: 50px 0 0;
    width: 100%;
    color: #CF2C4A;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    padding-bottom: 55px;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 30px 30px;

    @include response-to(small) {
      padding-bottom: 146px;
    }

    br {

      &.pc {

        @include response-to(small) {
          display: none;
        }
      }

      &.mob {
        display: none;

        @include response-to(small) {
          display: block;
        }
      }
    }

    &_left {
      position: absolute;
      bottom: 0;
      left: -30px;

      @include response-to(small) {
        left: -10px;
        width: 402px;
        height: auto;
      }
    }

    &_christmas-tree {
      bottom: -27px;
      right: 11px;
      position: absolute;

      @include response-to(small) {
        right: unset;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__snow-bg {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 115px;

    @include response-to(small) {
      display: none;
    }
  }

  &[data-modal="article2"] {

    .modal__snow-bg {
      top: 95px;
    }

    .modal__head {
      margin-top: 95px;

      @include response-to(small) {
        margin-top: 116px;
      }
    }
  }
}

.select {
  width: 220px;
  background-color: $light-blue;
  border-radius: 30px;
}

.select select + span.select2 {
  display: block;
  padding: 18px 0 16px 40px;
}

.select .select2 {
  width: 190px!important;
}

.select .select2-container--default .select2-selection--single {
  border: none;
  background-color: transparent;
  height: unset;
}

.select .select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0;
  font-family: 'ProximaNovaSemibold', sans-serif;
  line-height: 1;
}

.select .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: $primary-color;
  font-family: 'ProximaNovaSemibold', sans-serif;
  font-size: 18px;
  line-height: 120%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  transform: translateY(-50%);
}

.select .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: $primary-color transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent $primary-color transparent;
}

.select .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: $primary-color;
}

.select .select2-container--open .select2-dropdown--below {
  width: 220px!important;
  border: 1px solid $primary-color;
  border-radius: 15px;
  background-color: $light-blue;
  overflow: hidden;
}

.select .select2-container--open:last-of-type {
  //left: 822px!important;
}

.select .select2-results__option {
  padding-left: 40px;
  color: $primary-color;

  &:not(:first-of-type) {
    border-top: 1px solid $primary-color;
  }
}

.forbidden-scroll {
  overflow: hidden;
}

.cookie {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  background-color: $primary-color;
  width: 100%;
  color: #fff;
  padding-top: 38px;
  padding-bottom: 31px;

  @include response-to(small) {
    padding: 42px;
  }

  .container {
    max-width: 690px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Myriad Pro', sans-serif;

    @include response-to(small) {
      display: block;
    }
  }

  .text {
    font-size: 12px;
    line-height: 14px;
  }

  &-btn {
    display: block;
    min-width: 85px;
    max-width: 85px;
    border-radius: 20px;
    border: 1px solid #fff;
    text-align: center;
    padding: 10px 0 8px;
    font-weight: bold;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;

    @include response-to(small) {
      margin-top: 25px;
    }
  }
}

