@font-face {
  font-family: 'Comic';
  src: url('../../fonts/Comic_CAT.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url('../../fonts/ProximaNovaSemibold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../../fonts/MYRIADPRO-REGULAR.OTF');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}